@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.cart-slider-container { 
  position: fixed;
  right: 0;
  top: 0;
  height: 100vw;
  width: 30%;
  transition: transform 300ms ease-in, visibility ease-in 300ms;
  background-color: white;
  border: 1px solid black;
}

.cart-slider-container {
  transform: translateX(100%);
  visibility: hidden;
}

.cart-slider-container.cart-slider-open {
  transform: translateX(0);
  visibility: visible;
  transition: transform 300ms ease-in, v
}

.close { 
  transition: visibility 0ms linear 300ms;
}
